html {
	min-height: 100%;
	background-repeat: no-repeat;
}

body {
	font-family: Roboto, sans-serif;
	background: #355C7D;  /* fallback for old browsers */
	background: -webkit-linear-gradient(#355C7D, #6C5B7B, #C06C84);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(#355C7D, #6C5B7B, #C06C84); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
	color: #ffe2af;
	background-color: #f47a52;
	margin: 0;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}

h1 {
	background-color: #f47a52;
	padding: 10px 20px;
}

h1 span {
	color: #ffe2af;
	float: right;
	display: inline-block;
	padding-left: 10px;
}

h1 span:hover {
	color: white;
	animation: pulse 1500ms;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	color: #666;
	background-color: white;
	min-height: 40px;
	line-height: 40px;
	word-wrap: break-word;
	/*word-break: break-all;*/
}

/*style every other li*/
li:nth-child(2n) {
	background-color: #f7f7f7;
}

li:hover span {
	width: 40px;
	opacity: 1.0;
}

input {
	width: 100%;
	height: 40px;
	font-size: 18px;
	color: #666;
	background-color: #f7f7f7;
	padding-left: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
}

input::placeholder {
	color: #BBB;
}

input:focus {
	background-color: white;
	border: 3px solid #f47a52;
	outline-width: 0;
}

li span {
	background-color: #e74c3c;
	height: 40px;
	text-align: center;
	color: white;
	width: 0px;
	display: inline-block;
	transition: 0.2s ease-out;
	width: 0px;
	opacity: 0;
	margin-right: 20px;
}

.done {
	color: #BBB;
	text-decoration: line-through;
}

.open {
	transform-origin: 20px center;
	transform: scale(1.1);
	transition: 0.2s ease-out;
}

.closed {
	transform: scale(1.0);
	transition: 0.2s ease-out;
}

.container {
	width: 360px;
	margin: 0 auto;
	background-color: #f7f7f7;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.container:first-of-type {
	margin: 10% auto 5% auto;
}

.deemphasize {
	background-color: #C06C84;
}